.country-card {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.filters-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.MuiInputBase-root {
  margin-top: 18px;
  margin-left: 16px;
  width: 450px;
  text-align: center;
}
#outlined-basic-label {
  padding: 15px;
}
#demo-simple-select-helper-label {
  padding: 15px;
}
@media screen and (max-width: 600px) {
  .filters-wrapper {
    display: flex;
    /* align-items: start; */
    flex-direction: column;
  }
  .MuiInputBase-root {
    width: 250px;
  }
}
@media screen and (max-width: 780px) {
  .MuiInputBase-root {
    width: 300px;
  }
}
.sorting {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
